-e .
coverage==6.4.2
python-dateutil==2.8.2
freezegun==1.2.1
pdoc==12.1.0
pip==22.1.2
pylint==2.14.4
pyparsing==3.0.9
pytest==7.1.2
pytest-benchmark==3.4.1
pytest-cov==3.0.0
pytest-golden==0.2.2
types-python-dateutil==2.8.19
flake8==5.0.4
flake8-black==0.3.3
wheel==0.37.1
