-e .
black==25.1.0
coverage==7.9.0
mypy==1.16.0
pdoc==15.0.4
pip==25.1.1
pre-commit==4.2.0
pytest-cov==6.2.0
pytest==8.4.0
ruff==0.11.13

python-dateutil==2.9.0.post0
freezegun==1.5.2
pydantic==2.11.5
pyparsing==3.2.3
pytest-benchmark==5.1.0
types-python-dateutil==2.9.0.20250516
wheel==0.46.1
PyYAML==6.0.2
types-PyYAML==6.0.12.20250516
syrupy==4.9.1

# emoji is a dev only dependency used by script/update_emoji.py
emoji==2.14.1
# tzlocal is a dev only dependency used by script/update_tzlocal.py
tzlocal==5.3.1
