-e .
coverage==7.13.1
mypy==1.19.1
pdoc==16.0.0
pip==25.3
pre-commit==4.5.1
pytest-cov==7.0.0
pytest==9.0.2
ruff==0.14.13

python-dateutil==2.9.0.post0
freezegun==1.5.5
pydantic==2.12.5
pytest-benchmark==5.2.3
types-python-dateutil==2.9.0.20251008
wheel==0.46.1
PyYAML==6.0.3
types-PyYAML==6.0.12.20250915
syrupy==5.0.0

# emoji is a dev only dependency used by script/update_emoji.py
emoji==2.15.0
# tzlocal is a dev only dependency used by script/update_tzlocal.py
tzlocal==5.3.1
