name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
    - uses: chartboost/ruff-action@v1.0.0
    - uses: codespell-project/actions-codespell@v2.0
      with:
        exclude_file: tests/tzif/testdata/rfc8536-v3.yaml
        check_hidden: false
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Static typing with mypy
      run: |
        mypy --install-types --non-interactive --no-warn-unused-ignores .
